<h1>
  {{title}}
</h1>
<h2>
  {{contador}}
</h2>
<button (click)="aumentar()">
  Aumentar
</button>
<button (click)="disminuir()">
  Disminuir
</button>
<button (click)="multiplicar()">
  Multiplicar x2
</button>
<button (click)="dividir()">
  Dividir /2
</button>
<button (click)="reset()">
  Reset
</button> 

<div class="true ore falsa">
  <div>
    <span>
      Es mayor a 10? {{contador > 10}}
    </span><br>
  <div>
    <span>
        Es menor a 20? {{contador < 10}}
    </span>
  </div>
  <div>
    <span>
      es mayor o gual a 4 {{contador >= 5}}
    </span>
  </div>
  <div>
    <span>
      es igual a 6 ?{{contador == 6}}
    </span>
  </div>
  <div>
    <span>
      es diferente a 3?{{contador !== 3}}
    </span>
  </div>
  <div>
    <span>
      es modulo de 2?{{esPar(contador)}}
    </span>
  </div>
  <div>
    <span>
      es impar y es igual a 5?{{!esPar(contador) && contador == 5}}
    </span>
  </div>
  <div>
    <span>
      celcius a fahrenheit{{contador *1.8+32}}
    </span>
  </div>
  <div>
    <span>
      {{estudiantes}}
    </span>
  </div>
  <div>
    <span>
      {{estudiantes [1]}}
    </span>
  </div>
  <div>
    <span>
      {{estudiantes.length}}
    </span>
  </div>
  <span>
    {{estudiantes[estudiantes .length -1]}}
  </span>
</div>

</div>