<h1>
  {{title}}
</h1>
<h2>
  {{contador}}
</h2>
<button (click)="aumentar()">
  Aumentar
</button>
<button (click)="disminuir()">
  Disminuir
</button>
<button (click)="multiplicar()">
  Multiplicar x2
</button>
<button (click)="dividir()">
  Dividir /2
</button>
<button (click)="reset()">
  Reset
</button> 

<div class="true ore falsa">
  <div>
    <span>
      Es mayor a 10? {{contador > 10}}
    </span><br>
  <div>
    <span>
        Es menor a 20? {{contador < 10}}
    </span>
  </div>
  <div>
    <span>
      es mayor o gual a 4 {{contador >= 5}}
    </span>
  </div>
  <div>
    <span>
      es igual a 6 ?{{contador == 6}}
    </span>
  </div>
  <div>
    <span>
      es diferente a 3?{{contador !== 3}}
    </span>
  </div>
  <div>
    <span>
      es modulo de 2?{{esPar(contador)}}
    </span>
  </div>
  <div>
    <span>
      es impar y es igual a 5?{{!esPar(contador) && contador == 5}}
    </span>
  </div>
  <div>
    <span>
      celcius a fahrenheit{{contador *1.8+32}}
    </span>
  </div>
  <div>
    <span>
      {{estudiantes}}
    </span>
  </div>
  <div>
    <span>
      {{estudiantes [1]}}
    </span>
  </div>
  <div>
    <span>
      {{estudiantes.length}}
    </span>
  </div>
  <span>
    {{estudiantes[estudiantes .length -1]}}
  </span>
</div>

</div>

<!--Aqui comieza la clase de objetos-->

<div>
  <h2>{{animales[2].nombre}}</h2><!--llamamos el tercer animal del arreglo y solicitamos su nombre-->
  <h2>{{animales[2].habitat}}</h2><!--llamamos el tercer animal del arreglo y solicitamos su habitat-->
</div>

<div><!--Lista tipo ul con el nombre de los 3 ultimso animales del arreglo-->
  <ul>
    <li>{{animales[5].nombre}}</li>
    <li>{{animales[6].nombre}}</li>
    <li>{{animales[7].nombre}}</li>   
  </ul>
</div>

<div><!--en esta lista utilizaremos una funcinalidad de angular para llamar todos los animales.nombre, del arreglo sin hacerlo uno por uno-->
  <ul>
    <li *ngFor="let animal of animales">
      {{animal.nombre}}
    </li>
  </ul>
</div>

<div *ngFor="let animal of animales" class="tarjeta"> <!--Ene sta divicion utilizamos la misma funcionalidad para crear targetas de los animales-->
  <img class="imagen" [src]="animal.imagen"> <!--esta funcionalidad es similar pero para llamar el animal del arreglo y su imagen-->
  <div class="animales">
    <span > Nombre:
      {{animal.nombre}}
    </span><br>
    <span> peso promedio:
      {{animal.peso_promedio}}
    </span><br>
    <span> Numero de patas:
      {{animal.  numero_patas}}
    </span>
  </div>
</div>